# ── [백엔드 DB 설정] ──────────────────────────────────────────
# MongoDB Atlas 연결 문자열 (
MONGO_URI=YOUR_MONGO_URI
DB_NAME=med_tracker
BACKEND_PORT=8000

# ── [프론트엔드 빌드 설정] ──────────────────────────────────────
# 서버 외부 공인 IP 
VITE_API_URL=http://YOUR_SERVER_IP
VITE_WS_URL=ws://YOUR_SERVER_IP
# 프론트엔드 포트
FRONTEND_PORT=3002



