# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Data
*.csv
*.db
/data/*.json


# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Other
*.swp
*.swo
*.bak
*.orig
*.local

# Environment variables
.env